h1{
    display: block;
    font-size: 75px;
    margin-block-start: 15px;
    margin-block-end: 15px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.Donate-Now-section{
    background-image: url(Image/donation6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    background-position: center;
}
.Donate-Now{
    text-align: center;
    color: white;
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-20%, -20%);
}

.Link-Button{
    text-decoration: none;
    padding: 20px 40px;
    border-radius: 10px;
    color: white;
    background-color: orangered;
    
}
.Donate-Today{
    text-align: center;
}
.Amount{
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
}
.Amount-Decoration{
    color: brown;
    border-style: solid;
    padding: 10px 30px;

}
.Textrea-part{
    text-align: center;
}
.textarea{
    border: none;
    resize: none;
    outline: none;
}
hr{
    width: 40%;
}
.Donate-Plan-Section{
    text-align: center;
}
.Donate-Plan-Container{
    display: flex;
}
.Donate-Item{
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 3%;
    border-radius: 10%;
    box-shadow: 10px 10px 40px rgb(243 117 117);
    background-color: rgb(215, 235, 215);
}